*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
}

.title{
    text-align: center;
    margin-top: 30px;
    color: rgb(60, 60, 255);
}

.form-add{
    margin-top: 20px;
    text-align: center;
}

.input-text{
    width: 36%;
    height: 30px;
    text-align: center;
    border: solid 2px salmon;
}

.input-btn{
    width: 80px;
    height: 30px;
    text-align: center;
    border: solid 2px salmon;
}


input[type='submit'],
button,
[aria-label] {
    cursor: pointer;
}

#spoiler {
    display: none;
}